.vs
.vscode
*.pyc
*.pyx
web.config
/cntk_api/__pycache__/
/cntk_api/backup_v0/
/cntk_api/data/
/cntk_api/fastRCNN/__pycache__/
/cntk_api/proc/
/cntk_api/resources/cntk/AlexNet.model
/cntk_api/resources/pascalVocData/
/cntk_api/results/
/cntk_api/selectivesearch/
/cntk_api/resources/python34_64bit_requirements
/cntk_api/resources/python35_64bit_requirements
/cntk_api/imageRecognize/*
!/cntk_api/imageRecognize/.gitkeep
/cntk_api/data/*
!/data/.gitkeep
/cntk_api/historicStorage/*
!/cntk_api/historicStorage/.gitkeep


